@model Account

<div>
    <h3>edit details</h3>
    <h4>@Model.TypeOfAccount</h4>
    <h4>Amount in this account: $@Model.Amount</h4>
    <a class="btn btn-light" asp-controller="Customer" asp-action="AddFunds" asp-route-id="@Model.Id">Add Funds</a>
</div>